<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Serquant/bootstrap.php" 
         colors="false"
         processisolation="false"
         stoponfailure="false"
         syntaxcheck="false">

    <php>
      <const name="UNIT_TESTS_DB_ADAPTER" value="pdo_mysql"/>
      <const name="UNIT_TESTS_DB_HOST" value="localhost" />
      <const name="UNIT_TESTS_DB_USERNAME" value="user" />
      <const name="UNIT_TESTS_DB_PASSWORD" value="password" />
      <const name="UNIT_TESTS_DB_DBNAME" value="database" />
      <const name="UNIT_TESTS_DB_PORT" value="3306"/>
      <const name="XHPROF_ROOT" value="/path/to/xhprof"/>
    </php>
  
    <!-- Test suite to run -->
    <testsuites>
        <testsuite name="Serquant test suite">
            <directory>./Serquant</directory>
        </testsuite>
    </testsuites>

    <!-- Including and excluding files for code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Serquant</directory>
        </whitelist>
    </filter>
    
    <!-- XHProf parameters 
    <listeners>
        <listener class="PHPUnit_Util_Log_XHProf" file="PHPUnit/Util/Log/XHProf.php">
            <arguments>
                <array>
                    <element key="xhprofLibFile">
                        <string>/PATH/xhprof_lib/utils/xhprof_lib.php</string>
                    </element>
                    <element key="xhprofRunsFile">
                        <string>/PATH/xhprof_lib/utils/xhprof_runs.php</string>
                    </element>
                    <element key="xhprofWeb">
                        <string>http://localhost/index.php</string>
                    </element>
                    <element key="appNamespace">
                        <string>Serquant</string>
                    </element>
                    <element key="xhprofFlags">
                        <string>XHPROF_FLAGS_CPU,XHPROF_FLAGS_MEMORY</string>
                    </element>
                    <element key="xhprofIgnore">
                        <string>call_user_func,call_user_func_array</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
    -->
</phpunit>