<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Serquant/bootstrap.php" 
         colors="false"
         processisolation="false"
         stoponfailure="false"
         syntaxcheck="false">

    <php>
      <const name="UNIT_TESTS_DB_ADAPTER" value="pdo_mysql"/>
      <const name="UNIT_TESTS_DB_HOST" value="localhost" />
      <const name="UNIT_TESTS_DB_USERNAME" value="user" />
      <const name="UNIT_TESTS_DB_PASSWORD" value="password" />
      <const name="UNIT_TESTS_DB_DBNAME" value="database" />
      <const name="UNIT_TESTS_DB_PORT" value="3306"/>
    </php>
  
    <!-- Test suite to run -->
    <testsuites>
        <testsuite name="Serquant test suite">
            <directory>./Serquant</directory>
        </testsuite>
    </testsuites>

    <!-- Including and excluding files for code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">../library/Serquant</directory>
            <exclude>
              <file>../library/Serquant/Persistence/File.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>